!!! Strict
%html
  %head
    %title= 'Friendagon'
    %link{:rel=>'stylesheet', :type=>'text/css', :href=>'/css/site.css'}
    %script{:type=>'text/javascript', :src=>'/js/underscore.js'}
    %script{:type=>'text/javascript', :src=>'http://www.google.com/jsapi'}
    %script{:type=>'text/javascript', :charset=>'utf-8'}= "google.load('jquery', '1.4.2');"
    %script{:type=>'text/javascript', :src=>'/js/tweetwrap.js'}
    %script{:type=>'text/javascript', :src=>'/js/site.js'}
  %body
    #wrapper
      = yield
      %div{:id=>'holder', :class=>'kill'}
        #footer
          A <a href="http://twitter.com/robrighter">robrighter</a> creation, Powered by <a href="http://nodejs.org":">Node.js</a>, <a href="http://www.mongodb.org">MongoDB</a> and <a href="http://twitter.com">Twitter</a>
      <script type="text/javascript">var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));</script>
      <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-16159560-1");
      pageTracker._trackPageview();
      } catch(err) {}</script>