!!! Strict
%html
  %head
    %title= 'Friendagon'
    %link{:rel=>'stylesheet', :type=>'text/css', :href=>'/css/site.css'}
    %script{:type=>'text/javascript', :src=>'/js/underscore.js'}
    %script{:type=>'text/javascript', :src=>'http://www.google.com/jsapi'}
    %script{:type=>'text/javascript', :charset=>'utf-8'}= "google.load('jquery', '1.4.2');"
    %script{:type=>'text/javascript', :src=>'/js/tweetwrap.js'}
    %script{:type=>'text/javascript', :src=>'/js/site.js'}
  %body
    #wrapper
      = yield