body
  color: #dddddd
  font-family: Helvetica, Arial
  font-size: 14px
  line-height: 20px
  background: #C0DEED url(http://s.twimg.com/a/1270236195/images/themes/theme1/bg.png) repeat-x

#header
  margin-bottom: 10px

#logo
  margin-left: 12px
  margin-top: 10px

.followus
  position: absolute
  margin-left: 690px
  top: 24px
  height: 30px
  width: 105px
  color: #ffffff
  padding-top: 5px
  padding-left: 5px

.followus img
  width: 20px
  height: 20px
  margin: 0px
  padding-right: 7px

.followus a
  text-decoration: none
  color: #ffffff
  float: left
  margin: 0px
  height: 20px

.followus a:hover
  color: #cccccc

#maincontent
  width: 786px
  margin-left: auto
  margin-right: auto

h1
  margin: 0 0 10px
  font: bold 72px Helvetica, Arial
h2
  margin: 0
  font-size: 24px
  line-height: 32px
  color: #cecece

em
  color: #4D9EEF
  font-family: Inconsolata, Monaco, monospace
  font-style: normal

.kill
  clear: both

.template
  display: none

#profileinfo
  background: white
  padding: 5px
  border-radius: 5px
  height: 54px
  overflow: hidden
  margin-bottom: 30px
  margin-left: 8px
  margin-right: 8px

.profile
  color: #666666

.profile img
  float: left
  width: 50px
  height: 50px
  border-radius: 2px

.profile .name
  font-size: 22px
  float: left
  margin-top: 15px
  margin-left: 7px
  width: 160px
  height: 30px
  overflow: hidden

.user
  background: white
  padding: 5px
  border-radius: 5px
  float: left
  width: 367px
  height: 50px
  padding: 5px
  color: #666666
  margin-bottom: 12px
  margin-left: 7px
  margin-right: 7px

.user .name
  margin-top: 3px

.user .name a
  color: #58B33F
  font-weight: bold
  text-decoration: none
  text-size: 19px

.user img
  float: left
  width: 50px
  height: 50px
  margin-right: 10px
  border-radius: 2px

.user .following, .user .followers
  font-size: 12px
  float: left
  margin-top: 4px

.user .followers
  border-left: 1px solid #ccc
  margin-left: 5px
  padding-left: 5px

.user .button
  position: absolute
  height: 20px
  background-color: #cccccc
  text-align: center
  margin-left: 260px
  margin-top: -12px
  width: 85px
  font-weight: bold
  border-radius: 5px
  padding: 5px
  cursor: pointer  
  font-size: 12px
  color: #ffffff

.user .button:hover
  background-color: #90D55C


  

.box
  float: left
  height: 50px
  background-color: #cccccc
  text-align: center
  margin-left: 22px
  width: 85px
  font-size: 8px
  font-weight: bold
  border-radius: 5px
  //color: #2E989F
  color: #000000
  margin-top: 8px
  text-transform: uppercase
  padding-top: 10px
  line-height: 190%
  cursor: pointer  

.box .count
  font-size: 27px
  color: #ffffff

.profile .selected, .box:hover
  background-color: #90D55C

.tabline
  background-color: #90D55C
  position: absolute
  margin-top: 54px
  margin-left: -5px
  width: 770px
  height: 5px

#homesearch
  margin-top: 170px

#homesearch #logo
  float: left
  margin-right: 20px
  margin-left: 20px
  margin-top: 17px  

#homesearch .instructions
  color: #2377BB
  font-size: 11px

#homesearch .instructions .prompt
  display: block
  font-weight: bold

#homesearch input
  height: 28px
  width: 415px
  color: #2377BB
  font-size: 24px
  border: 3px solid #8EC1DA 
  border-radius: 5px

#homesearch .go
  background-color: #2377BB
  color: #ffffff
  border-radius: 5px
  width: 40px
  height: 26px
  text-align: center
  float: right
  font-size: 20px
  padding-right: 10px
  padding-left: 10px
  padding-bottom: 0px
  padding-top: 8px
  margin-right: 20px
  margin-top: 2px
  cursor: pointer

#homesearch .go:hover
  background-color: #90D55C

#recent
  width: 610px
  margin-left: auto
  margin-right: auto
  margin-top: 30px

#recent h1
  display: block
  width: 100%
  text-align: left
  font-size: 13px
  color: #2377BB

#recent .item
  display: block
  float: left
  width: 300px
  color: #2377BB
  margin-left: 5px
  margin-top: 10px

#recent .item img
  width: 35px
  height: 35px
  float: left
  border-radius: 3px
  margin-right: 5px

#recent .item .stats
  color: #2F2420
  font-size: 11px

#recent .item .stats div
  display: block
  float: left
  margin-right: 8px

#recent .item .stats div .count
  color: #2377BB
  font-weight: bold

#recent .item .name a
  color: #009827
  font-weight: bold
  text-decoration: none